*{
    background: radial-gradient(rgb(202, 46, 46), white)
}
div{
    height: 300px;
    width: 300px;
    background: linear-gradient(rgb(66, 66, 243), rgb(132, 132, 63));
    padding-top: 80px;
    padding-left: 200px;
    float: left;

    margin-top: 100px;
    margin-left: 100px;
    border-style: dotted;
    border-color: rgb(26, 1, 1);
    border-width: 3px;
    box-shadow: 50px 30px 20px 10px rgb(124, 245, 245);
   /*pacity: 0;*/
}
div:hover{
    background: linear-gradient(rgb(82, 58, 26), pink, rgb(95, 199, 95));
}